@model IEnumerable<PBManager.Dto.ViewModels.AccountViewModel>
@using PBManager.Services.Exensions

<section class="content-header">
    <h1>
        @ViewBag.Title
        <br><small>Manage your accounts</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">


    <div class="row">
        <div class="col-md-10">
            <!-- main row -->

            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="@Url.Action("New", "Accounts")" class="btn btn-flat btn-block btn-success"><i class="fa fa-plus"></i> New account</a>
                        </div>
                    </div>
                    <br />


                    <div class="row">
                        <div class="col-md-12">


                            <table class="table table-hover datatable" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        @* <th>Kind</th> *@
                                        <th>Initial balance</th>
                                        <th>Balance</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var account in Model)
                                    {
                                        <tr>
                                            <td>@account.Name</td>
                                            @* <td><span class="label label-info">@account.AccountKind.Name</span></td> *@
                                            <td>@account.InitialBalance.ToString("F2")</td>
                                            <td>@account.Balance.ToString("F2")</td>
                                            <td>
                                                <div class="btn-group">
                                                    @Ajax.RawActionLink("<i class=\"fa fa-eye\"></i> View</a>"
                                                        , "View"
                                                        , "AccountsAjax"
                                                        ,new { Id = account.Id }
                                                        , new AjaxOptions { UpdateTargetId = "AccountsAjaxDiv", InsertionMode = InsertionMode.Replace, HttpMethod = "Get" }
                                                        , new{Class="btn btn-flat btn-default"}
                                                        )


                                                    @* <a href="@Url.Action("View", "Accounts", new {Id = account.Id})" class="btn btn-flat btn-default"><i class="fa fa-eye"></i> View</a> *@
                                                    <a href="@Url.Action("Edit", "Accounts", new {Id = account.Id})" class="btn btn-flat btn-default"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                                    <a href="@Url.Action("Delete", "Accounts", new {id = account.Id})" class="btn btn-flat btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>



                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        @* <div class="col-md-4"></div> *@

    </div>
</section>