<header class="main-header">
    <a href="@Url.Action("Index", "Home")" class="logo">
        <span class="logo-mini">PBM</span>
        <span class="logo-lg">PB Manager</span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <span class="glyphicon glyphicon-user"></span>
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        @* <span class="hidden-xs">@ViewBag.UserName</span> *@
                        <span class="hidden-xs">@TempData.Peek("UserName")</span>
                    </a>
                    <ul class="dropdown-menu bg-info">

                                            <li class="user-header">
                        
                                                @if (Request.IsAuthenticated)
                                                {
@*                                                     <img src="#" class="img-circle" alt="User Image"> *@
                                                    <p>
                                                        <span class="hidden-xs">
                                                            @Html.Action("UserNamePartial", "Users", new { area = "" })
                                                        </span>
                                                        <small> @Html.Action("UserEmailPartial", "Users", new { area = "" })</small>
                                                    </p>
                                                }
                                            </li>


                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="@Url.Action("Edit", "Users")" class="btn btn-default btn-flat">Edit profile</a>
                            </div>

                            <div class="pull-right">
                                <a href="@Url.Action("Logout", "Users")" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>

        </div>


    </nav>
</header>