@using System.Web.Optimization
@using WebHelpers.Mvc5.Enum

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @ViewBag.Title
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @Styles.Render("~/Bundles/css")
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")

        @RenderBody()


        <section class="content-wrapper" id="AccountsAjaxDiv">

        </section>

    </div>


    <script src="@EnumHandler.HandlerUrl"></script>
    @Scripts.Render("~/Bundles/js")
@Scripts.Render("~/bundles/jqueryval")
    @RenderSection("ViewSpecificJavascript", required: false)
    @RenderSection("scripts", required: false)



<script type="text/javascript">
    //hack to insert a <span> inside the remove links so that the text can be styled                
    $('#AccountsAjaxLI' ).html('<i class="fa fa-circle-o"></i><span class="ActionLinkText">Your Text here</span>');
    
</script>

</body>
</html>