@model PBManager.Dto.ViewModels.CashflowViewModel

<!-- box -->
<div class="box box-danger">
    <div class="box-body">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-warning"></i> Alert!</h4>
            This operation cannot be reverted!
        </div>
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.Name)</dt>
            <dd>@Html.DisplayFor(m => m.Name)</dd>
            <dt>@Html.DisplayNameFor(m => m.Description)</dt>
            <dd>@Html.DisplayFor(m => m.Description)</dd>
            <dt>@Html.DisplayNameFor(m => m.AccountingDate)</dt>
            <dd>@Model.AccountingDate.ToShortDateString()</dd>
            <dt>@Html.DisplayNameFor(m => m.Value)</dt>
            <dd>@Model.Value.ToString("F2")</dd>
            <dt>@Html.DisplayNameFor(m => m.Account.Name)</dt>
            <dd>@Html.DisplayFor(m => m.Account.Name)</dd>
            <dt>@Html.LabelFor(m => m.Category.Name, "Category name")</dt>
            <dd>@Html.DisplayFor(m => m.Category.Name)</dd>
            <dt>@Html.LabelFor(m => m.Subcategory.Name, "Subcategory name")</dt>
            <dd>@Html.DisplayFor(m => m.Subcategory.Name)</dd>
            <dt>@Html.DisplayNameFor(m => m.Project.Name)</dt>
            <dd>@Html.DisplayFor(m => m.Project.Name)</dd>

        </dl>
        <form id="deleteCashflowForm">
            @Html.HiddenFor(m => m.Account.UserId)
            @Html.HiddenFor(m => m.Id)
            @Html.AntiForgeryToken()
            <a href="#" class="btn btn-flat btn-danger" id="btnDelete"><i class="fa fa-trash-o"></i> Delete</a>
        </form>
    </div>
    <!-- /.box-body -->
</div>


<script>

    $(document).ready(function() {

        $("#btnDelete").click(function() {

            var cashflowId = $("#Id").val();

            $.ajax({
                url: "/api/cashflows?id=" + cashflowId,
                method: "DELETE",
                success: function() {
                    $("#cashflowDeleteModal").modal("hide");
                    $("#tblCashflow").DataTable().ajax.reload();
                },
                error: function(xhr) {
                    var obj = JSON.parse(xhr.responseText);
                    toastr.error("Unexpected error: " + obj.g);
                }

            });
        });

    })


</script>