@model PBManager.Dto.ViewModels.CategoryViewModel


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- box -->
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form">

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Id)
                                            @Html.TextBoxFor(m => m.Id, new {Class = "form-control", Readonly = "readonly"})
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Name)
                                            @Html.TextBoxFor(m => m.Name, new {Class = "form-control", Readonly = "readonly"})
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Description)
                                            @Html.TextAreaFor(m => m.Description, new {Class = "form-control", Readonly = "readonly"})
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">

                <!-- table-box -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Child subcategories</h3>
                    </div>
                    <!-- /.box-header -->


                    <div class="box-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var subcategory in Model.Subcategories)
                            {
                                <tr>
                                    <td>@subcategory.Name</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div><!-- /.body -->
                </div><!-- ./table-box -->


            </div>
            <!-- ./table-box -->
        </div>
    </div>
</section>
<!-- /.content -->