@{
    var categoriesSelectList = (SelectList) TempData["categoriesSelectList"];
    var accountsSelectList = (SelectList) TempData["accountsSelectList"];
    var subcategoriesSelectList = new SelectList(new List<string>(), "Id", "Name", new {});
    var projectsSelectList = (SelectList) TempData["projectsSelectList"];
}


<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Quick Example</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form">
        <div class="box-body">

            <div class="row">
                <div class="form-group">
                    <div class="col-xs-5">
                        <label for="accountSelect">Account</label>
                        @Html.DropDownList("accountSelect", accountsSelectList, "select account", new {@class = "form-control", id = "accountSelect", placeholder = "select account"})

                        @* <input class="form-control" id="accountSelect" placeholder="select account"> *@
                    </div>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="form-group">
                    <div class="col-xs-4">
                        <label for="categorySelect">Category</label>
                        @Html.DropDownList("categorySelect", categoriesSelectList, "select category", new {@class = "form-control", id = "categorySelect", placeholder = "select category"})

                        @* <input class="form-control" id="categorySelect" placeholder="select category"> *@
                    </div>
                    <div class="col-xs-4">
                        <label for="subcategorySelect">Subcategory</label>
                        @Html.DropDownList("subcategorySelect", subcategoriesSelectList, "select subcategory", new {@class = "form-control", id = "subcategorySelect", placeholder = "select subcategory"})

                        @* <input class="form-control" id="subcategorySelect" placeholder="select subcategory"> *@
                    </div>
                    <div class="col-xs-3">
                        <label for="projectSelect">Project</label>
                        @Html.DropDownList("projectSelect", projectsSelectList, "select project", new {@class = "form-control", id = "projectSelect", placeholder = "select project"})
                        @* <input class="form-control" id="projectSelect" placeholder="select project"> *@
                    </div>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label for="monthSelect">Month</label>
                        <input type="text" class="form-control" id="monthSelect" placeholder="select month">
                    </div>
                    <div class="col-xs-3">
                        <label for="yearSelect">Year</label>
                        <input class="form-control" id="yearSelect" placeholder="select year">
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->

        <div class="box-footer">
            <a href="#" class="btn btn-primary" id="btnSubmit">Submit</a>
        </div>
    </form>
</div><!-- /.box -->


@Scripts.Render("~/Bundles/js")
@Scripts.Render("~/bundles/jqueryval")


@* @section Scripts { *@
<script>
    $(document).ready(function() {
        $('#monthSelect').datepicker({
            format: "MM",
            startView: "months",
            minViewMode: "months",
            //            onSelect: function (dateText) {
            //                alert(dateText);
            //
            ////                $("#selectMonth").val(dateText);
            //            }
        });

        $('#yearSelect').datepicker({
            format: "yyyy",
            startView: "years",
            minViewMode: "years"
        });

        $("#btnSubmit").click(function() {
            //            var accountformdata = $("#addNewAccountForm").serialize();

            var monthNumber = $("#monthSelect").datepicker('getDate').getMonth() + 1;

            var reportformdata = { accountId: "", categoryId: "", subcategoryId: "", projectId: "", month: "", year: "" };

            reportformdata.accountId = $("#accountSelect").val();
            reportformdata.categoryId = $("#categorySelect").val();
            reportformdata.subcategoryId = $("#subcategorySelect").val();
            reportformdata.projectId = $("#projectSelect").val();
            reportformdata.month = monthNumber;
            reportformdata.year = $("#yearSelect").val();


            $.ajax({
                type: "POST",
                url: "/DashboardMain/GetReportData",
                data: reportformdata,
                success: function(data) {
                    BuildPieGraphic(data);

//                        var GetProgressBarDataPost 
                    $.ajax({
                        method: 'POST',
                        url: '/DashboardMain/GetProgressBarData',
                        data: reportformdata,
                        success: function(data) {
                            var index = 0;
                            var sumOfValues = 0;

                            while (index < data.length) {
                                sumOfValues = sumOfValues + data[index].categorySum;
                                index = index + 1;

                            }

                            index = 0;

                            $("div.classProgressBars div.divProgressBars").remove();
                            $("div.classProgressBars").append("<div class='divProgressBars'></div>");

                            while (index < data.length) {

                                $("div.divProgressBars").append(BuildBudgetProgressBar(data, index, sumOfValues));
                                $("div.divProgressBars").append('<br/>');
                                index = index + 1;
                            }

                            $.ajax({
                                method: 'POST',
                                url: '/DashboardMain/GetExpensesData',
                                data: reportformdata,
                                success: function(data) {
                                    alert("aaaaaaa");
//                                        $("div.classExpensesLineChart").remove();
                                    $("div.classExpensesLineChart canvas#canvasExpensesLineChart").remove();
                                    $("div.classExpensesLineChart").append("<canvas id='canvasExpensesLineChart' style='height: 250px'></canvas>");
                                    BuildLineGraphic(data);

                                }
                            });
                        }
                    });
//                        alert("ok");

                }

            });


        });
    })
</script>
@* } *@