@model PBManager.Dto.ViewModels.ProjectViewModel
@{
    ViewBag.Title = "Project view";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <br><small>Selected project view</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class=""></i> Home</a></li>
            <li><a href="@Url.Action("Index", "Projects")">Projects</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
        
        

    </section>
    <!-- Main content -->
    <section class="content">
        
        <div class="row">
            <div class="col-md-8">
        
        
                <!-- box -->
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form role="form">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Id)
                                                @Html.TextBoxFor(m => m.Id, new {Class = "form-control", Readonly = "readonly"})
                                            </div>
                                        </div>
                                        @* </div> *@
                                        @* *@
                                        @* <div class="row"> *@
                                        <div class="col-xs-8">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Name)
                                                @Html.TextBoxFor(m => m.Name, new {Class = "form-control", Readonly = "readonly"})
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.StartDate)
                                                @Html.TextBoxFor(m => m.StartDate, Model.StartDate.ToShortDateString(), new {Class = "form-control", Readonly = "readonly"})
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Description)
                                                @Html.TextAreaFor(m => m.Description, new {Class = "form-control", Readonly = "readonly"})
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.ProjectTotalValue)
                                                @Html.TextBoxFor(m => m.ProjectTotalValue, new {Class = "form-control", Readonly = "readonly"})
                                            </div>
                                        </div>
                                    </div>

                                    <br/>
                                    <a href="@Url.Action("Edit", "Projects", new {Id = Model.Id})" class="btn btn-sm btn-warning btn-flat pull-left"><i class="fa fa-pencil-square-o"></i> Edit project</a>
                                    <a href="@Url.Action("Delete", "Projects", new {Id = Model.Id})" class="btn btn-sm btn-danger btn-flat pull-left"><i class="fa fa-trash-o"></i> Delete project</a>
                                </form>
                            </div>



                        </div>
                    </div>

                    <div class="col-md-4"></div>

                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
        
            </div>
        </div>
        
        

        <!-- table-box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Project cashflows</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered table-striped datatable" style="width: 100%;">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>AccountingDate</th>
                        <th>Total value</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var cashflow in Model.Cashflows)
                    {
                        <tr>
                            <td>@cashflow.Name</td>
                            <td>@cashflow.AccountingDate.ToShortDateString()</td>
                            <td>@cashflow.Value.ToString("F2")</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <!-- /.body -->
            <div class="box-footer clearfix">
                <a href="@Url.Action("New", "Cashflows")" class="btn btn-sm btn-info btn-flat pull-left"><i class="fa fa-plus"></i> New cashflow</a>
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- ./table-box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
